body {
  background-color: #B5AACF;
  font-family: 'Open Sans Condensed', sans-serif;
}

#results {
  margin-top: 20px;
  margin-left: 0px;
}

.btn-custom {
  background-color: #8180c4;
  border-color: #8180c4;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #706fbc;
  border-color: #5e5db4;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #8180c4;
  border-color: #8180c4;
}

section + section {
  clear: both;
  padding: 15px 0;
  /*border-top: 1px dashed #BFA6CC;*/
  margin-top: 15px;
}

header {
  height: auto;
  border-bottom: 1px dashed #BFA6CC;
  text-align: center;

}

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  text-align: center;
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}

.container {
  background-color: #FFE4CC;
  width: 800px;
  margin: 1em auto;
  padding: 15px;
  border: 3px solid gray;
  border-radius: 45px;
}

input, .form-control {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: 0;
  box-shadow: none !important;
  flex: 1 100%;
  padding: .25rem .5rem;
  border-bottom: 1px solid #d0dad8;
  border-radius: 0px;
  background: transparent;
  transition-duration: .1s;

  display: inline-block;

}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  border-bottom-color: #0e745c;
  box-shadow: 0 2px 1px -1px #d0dad8;
}


.form-label {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
}

.form-control {
  float: left;
  margin-right: 10px;
}


.band-list {
  display: inline;
}

.btn {
  display: inline;
  float: left;
  margin-top: 20px;
}

.btn-remove {
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin: 0 5px;
  padding: 0;
}

a {
  border-color: #d0dad8;
  color: #432F75;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}
  a:hover,
  a:active,
  a:focus {
    border-color: #0e745c;
  }
  a::before {
    display: inline-block;
    vertical-align: top;
    margin-right: .125em;
    color: #d0dad8;
    font-family: FontAwesome;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
  }
    a:hover::before,
    a:active::before,
    a:focus::before {
      color: #0e745c;
    }

#delete_band {
  border-top: 1px dashed #d0dad8;
  margin-top: 50px;
  margin-left: 330px;
}

.padding-bottom {
  padding-bottom: 25px;
}

.input_change_band_name {
  width: 640px;
}

.input_new_name {
  width: 655px;
}
